@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.headdiv{
    background-image: linear-gradient(to bottom, rgba(29, 151, 108, 0.52), rgba(147, 249, 185, 0.73)),
url('bg.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
overflow: auto;
height: 100vh;

}
nav{
    background-color: white !important;
    box-shadow: none !important;
}
.Etitle
{
  font-family: 'Roboto';
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color:white;
}
.underline{
   border: 1px solid green;
   bottom: 20px;
   margin-bottom: 20px;
}
.register{
    top: 50px;
    left: 100px;
    /* right: 100px; */
}
.filter{
  padding-top: 20px;
  padding-left: 20px;
}
.logo{
  width: 8vw;
  margin-top: 4px;
  /*height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: white;*/
}
.success{
    top: 50px;
    left: 50%;
    margin-bottom: 100px !important;
    
}
.card-title{
    font-weight: 500 !important;
}
input[type='submit']{
    color: white !important;
    font-weight: 600;
}
.btn{
    background-color: green !important;
    box-shadow: none;
}

.tabs{
    margin-bottom: 20px;
}
.tabs .tab a{
    color:#000;
    line-height: 3.2;
}

.tabs .tab a:hover {
    background-color:rgb(147, 236, 144);
    color:#121212;
} 

.tabs .tab a.active {
    background-color:rgb(142, 224, 135);
    color:#000;
} 

.tabs .indicator {
    background-color:green;
} 
.input-field input[type=text]:focus + label {
    color: #000 !important;
  }
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


.timeline {
    position: relative;
  }
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }
  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
  }
  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }
  .timeline .timeline-event:first-child::before, .timeline .timeline-event:last-child::after {
    display: none;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }
  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d2d2d2;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }
  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }

  @media (max-width: 600px) {
    .register,.success{
      left: 10px;
    }
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before, .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content, .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-badge {
      left: 12px;
    }
  }
  .card-title {
    line-height: 1em;
  }
  .card-title.gradient {
    display: block;
    position: absolute;
    bottom: 0px;
    padding-bottom: 64px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
  }
  